#bottom-text {
  border-top: #282c34 dotted;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  margin: 0;
  text-align: center;
}

.middle-element {
  margin-bottom: 40px;
}